name: Run monthly python tests
on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

jobs:
  pull_data:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install poetry
        uses: snok/install-poetry@v1.1.1
        with:
          version: 1.1.4
          virtualenvs-in-project: true

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: .venv
          key: ${{ runner.OS }}-python-3.8-{{ hashFiles('**/poetry.lock') }}
          restore-keys: |
             ${{ runner.OS }}-python-3.8-
             ${{ runner.OS }}-

      - name: Install dependencies
        run: poetry install --no-dev

      - name: Pull data
        run: poetry run py.test
